body{
    background-color: whitesmoke;
}
#header{

}
.mypic{
    width: 300px;
    align-items: center;
}
h1{
    text-align: center;
    color:green;
    font-family: consolas,"courier new";
    font-size: 50px;
}
a{
    color: white;
}

aside{
    width: 25%;
    height: 75%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}
#footer{
    background-color:lightsalmon;
    height: 100px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
